<link rel="stylesheet" href="dist/css/prism.css">
<div class="space-y-5 my-5">
    <div class="space-y-2">
        <h1 class="h1-version-large">Alert - Lawersy</h1>
        <p class="p-version-normal">
            Information regarding the use of badge data
        </p>
    </div>
    <div class="py-5">

        <div class="bg-white rounded-md" x-data="{previews : 'preview',
                        menuTabs : 'active-page-active-result-code',
                        menuTabsNon : 'non-active-page-active-result-code'}">
            <div class=" px-5 bg-gray-200 rounded-t-md w-full flex justify-between items-center">
                <span class="text-xl font-semibold">Normal</span>
                <div class="flex lg:gap-4 gap-2 p-2">
                    <button :class="previews==='preview' ? menuTabs : menuTabsNon" @click="previews = 'preview'">
                        Result
                    </button>
                    <button :class="previews==='code' ? menuTabs : menuTabsNon" @click="previews = 'code'">
                        Code
                    </button>
                </div>
            </div>
            <div>
                <div x-show="previews === 'preview'" class="p-4">
                    <div class="overflow-y-auto">
                        <div class="flex-gap-2 p-3">
                            <span class="badge">Black</span>
                            <span class="badge-blue">Blue</span>
                            <span class="badge-orange">Orange</span>
                            <span class="badge-yellow">Yellow</span>
                            <span class="badge-red">Red</span>
                            <span class="badge-lime">Lime</span>
                            <span class="badge-slate">Slate</span>
                            <span class="badge-amber">Amber</span>
                            <span class="badge-gray">Gray</span>
                            <span class="badge-zinc">Zinc</span>
                        </div>
                    </div>
                </div>
                <div x-show="previews === 'code'" class="p-4">
                    
                </div>
            </div>

        </div>
    </div>
</div>
<script src="dist/js/prism.js"></script>